<div class="container">
    <div class="jumbotron main">
        <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 50, "rowHeight": 300, "fitWidth": true }'>
            {{#each graphs}}
                <div class="grid-item card">
                    <div style="overflow: hidden; max-width: 400px;">
                        <a style="position:absolute; z-index:99; color: #3B5998; padding:.5rem .5rem 0 .5rem" href="/remove/{{graph_id}}" data-toggle="tooltip" data-placement="bottom" title="Delete"><svg class="icon icon-cancel-circle"><use xlink:href="#icon-cancel-circle"></use></svg></a>
                        <iframe scrolling="no" src="/render/{{graph_id}}" style="transform: scale(0.8);  border: 0px none; margin-left: -795px; margin-right: -830px; margin-top: -90%;margin-bottom: -90%; height: 1080px;  width: 1920px;">
                        </iframe>
                    </div>
                    <!--<img class="card-img-top" style="height:300px; width:auto;" src="{{graph_picture}}" alt="Card image cap">-->
                    <div class="card-block">
                        <div class="text-left">
                            <p><a style="font-size: 18px;" href="/render/{{graph_id}}" data-toggle="tooltip" data-placement="bottom" title="View">{{root.name}}</a></p>
                        </div>
                    </div>
                    <nav class="navbar navbar-toggleable-md" style="background-color: #f7f7f7; width: 100%; padding: 0 1rem 1rem 1rem !important;" >
                        <div class="navbar-nav render-nav">
                            <div class="render-nav nav-item nav-link" style="color: #3B5998 !important;">
                                <span class="navBlock">Depth</span>
                                <span class="navBlock">{{depth}}</span>
                            </div>
                            {{#if likes}}
                                <div class="render-nav nav-item nav-link" style="color: #3B5998 !important;">
                                    <span class="navBlock">Likes ></span>
                                    <span class="navBlock">{{likes}}</span>
                                </div>
                            {{/if}}
                            {{#if category}}
                                <div class="render-nav nav-item nav-link" style="color: #3B5998 !important;">
                                    <span class="navBlock">Filtered by</span>
                                    <span class="navBlock">{{root.category}}</span>
                                </div>
                            {{/if}}
                        </div>
                    </nav>
                </div>
            {{/each}}
        </div>
    </div>
</div>
